li
{
    list-style: none;
}

a:link, a:visited
{
    text-decoration: none;
    background-color: brown;
    border: 1px solid black;
    color: black;
    display: block;
    width: 200px;
    text-align: center;
    margin-bottom: 1px;
}

a:hover, a:active
{
    background-color: green;
    color: purple;
}

.courses li:nth-child(3)
{
    font-size: 24px;
}

.oddColoring li:nth-child(odd)
{
    background-color: gray;
}